
<section class="realplaza-login">
    <div class="realplaza-box-carousel">
        <<div class="realplaza-tittle">
            <!-- <img src="../../../../../assets/images/logotipo-vertical-positivo.svg" alt="""> -->
            <img src="../../../../assets/images/isotipo.svg">
            <h1>Real Plaza</h1>
        </div>

        <p class="realplaza-box-carousel-p">© 2020 C.C. Real Plaza. Todos los derechos reservados.</p>
    </div>
    <div class="realplaza-box-login">
        <div class="realplaza-wrap-login">
            <div class="realplaza-form-login">
                <div class="realplaza-logo-login">
                    <h1>SysAid</h1>
                    <!-- <img src="../../../../../assets/images/logotipo-vertical-positivo.svg" alt="Logo"> -->
                </div>
                <div class="realplaza-welcome-login">
                    <h1>Bienvenid@</h1>
                </div>
                <form #loginForm="ngForm" class="login-form" (ngSubmit)="submitForm()">
                    <div class="realplaza-body-login">
                        <div class="realplaza-control-login">
                            <i nz-icon nzType="user" nzTheme="outline"></i>
                            <input type="text" name="username" [(ngModel)]="user.username"
                                class="realplaza-control-input input-login username" placeholder="Usuario" />
                           
                        </div>
                        <br>
                        <div class="realplaza-control-login">
                            <i nz-icon nzType="lock" nzTheme="outline"></i>
                            <input type="password" name="password" [(ngModel)]="user.password"
                                class="realplaza-control-input input-login password" placeholder="Contraseña" />
                           
                        </div>
                        <div class="realplaza-forgot-login">
                            <a href="#" class="realplaza-forgot-password">¿Olvidaste la contraseña?</a>
                        </div>
                        <div class="realplaza-access-login" style="text-align: center;">
                            <button class="realplaza-button-login">Ingresar</button>
                        </div>
                    </div>
                    <div class="realplaza-footer-login">
  
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>
  
  