  <h1>Componente Admin</h1>

  <button mat-raised-button color="accent" (click)="GetUserWS()">Get User</button>
  <button mat-raised-button color="accent" (click)="GetListWS()">Get ListPost</button>
  <button mat-raised-button color="accent" (click)="CreatePostWS()">Post Create</button>
  <button mat-raised-button color="accent" (click)="UpdateostWS()">Put Update</button>
  <button mat-raised-button color="accent" (click)="DeleteUserWS()">Delete Update</button>
  <button mat-raised-button color="accent" (click)="FilterUserWS()">Filter Update</button>

